
.achievement-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-evenly; /* Distribute columns evenly */
  padding: 10px;
  align-items: center;
}

.achievement-container .item {
  padding: 30px;
  margin: 10px;
  width: 30vw;
  box-sizing: border-box;
}

