.progress-bar {
  padding: 10px 0 0;
  margin: 0 50px;
}

.progress-bar .whole-bar {
  background-color: #EDEDED;
  border-radius: 50px;
  position: relative;
  width: auto;
} 

.progress-bar label {
  font-size: 15px;
}

.progress-bar label strong{
  color: #5E30EB;
}

.progress-bar progress::-webkit-progress-value{
  background-image: linear-gradient(to right, #5E30EB , #FF914D);
}

.progress-bar progress::-moz-progress-bar{
  background-image: linear-gradient(to right, #5E30EB , #FF914D);
}