.exercise .artwork {
  border: solid #FF914D 3px;
  border-radius: 25px;
  max-width: 300px;
  position: relative;
  margin: 0 auto;
}

.exercise .starting-box{
  /* border: solid #5E17EB 2px; */
  border-radius: 25px;
  margin-top: 5px;
  width: 550px;
}

.exercise .credit {
  border-radius: 25px;
  margin-top: 5px;
  width: 600px;
}


.exercise .artwork-div  {
  position: relative;
  margin: 0 auto;
  width: 300px;
}


.exercise .question {
  padding: 15px 0px 10px;
  width: 550px;
}

.exercise .completed-area {
  opacity: 50%;
}

.exercise .incompleted-area {
  opacity: 0%;
}

.exercise .completed-correct-selection {
  border: green 2px solid;
}

.exercise .completed-incorrect-selection {
  border: red 2px solid;
}

.exercise .correct-selection {
  background-color: green;
}

.exercise .incorrect-selection {
  background-color: red;
}

.lesson-section .confetti-div {
  z-index: 5;
}

.lesson-section .confetti, .lesson-section .confetti-div {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.lesson-section .learning-info {
  color: #5E17EB;
  line-height: 1.4em;
}

.lesson-section .button-div .next-button {
  background-color: #FF914D;
  border: none;
  box-shadow: 0 9px #6250e6;
  color: #5E17EB;
  font-size: 20px;
}

.lesson-section .button-div .next-button:hover:enabled {
  background-color: #FF6C20
}

.lesson-section .button-div .next-button:active:enabled {
  background-color: #FF6C20;
  box-shadow: 0 4px #5E17EB;
  transform: translateY(5px);
}

.lesson-section {
  padding: 0px;
  margin: 0 50px;
}

.lesson-section .title-div {
  padding: 0;
  margin: 15px 0;
}

.lesson-section .progress-div {
  margin-bottom: 5px;
}

.lesson-section .feedback {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.4em;
  font-size: 15px;
}

.lesson-section .correct-feedback {
  border: solid 3px rgb(91, 199, 91);
  border-radius: 50px;
  box-shadow: 3px 3px 5px rgb(91, 199, 91);
} 

.lesson-section .correct-feedback h2 {
  color: green;
  margin-bottom: 0;
}

.lesson-section .incorrect-feedback {
  border: solid 3px rgb(227, 92, 92);
  border-radius: 50px;
  box-shadow: 3px 3px 5px rgb(227, 92, 92);
}

.lesson-section .incorrect-feedback h2 {
  color: red;
  margin-bottom: 0;
}

.lesson-section .main-content .learning-info {
  border: solid 2px #363636;
  border-radius: 50px;
  box-shadow: 3px 3px 5px #363636;
  
  font-size: 20px;
  padding: 20px;
  /* max-width: 500px; */
} 

.lesson-section .exercise {
  border: solid 2px #363636;
  border-radius: 50px;
  box-shadow: 3px 3px 5px #363636;

  /* max-width: 600px; */
}

.lesson-section .question {
  font-size: 20px;
  line-height: 1.4em;
}

@media (max-width: 1023px) {
  .exercise .artwork-div, .exercise .question, .exercise .credit {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .exercise .artwork-div, .exercise .question, .exercise .credit {
    width: 300px;
  }
}

.lesson-section .testing-buttons {
  position: fixed;
  top: 20px;
  left: 20px;

  z-index: 100;
}