.exercise .artwork {
  border: solid #FF914D 3px;
  border-radius: 25px;
  max-width: 100%;
  position: relative;
}

.exercise .starting-box {
  border: solid #5E17EB 3px;
}

.exercise .artwork-div, .exercise .question, .exercise .credit {
  position: relative;
  width: 450px;
}

.exercise .completed-area {
  opacity: 50%;
}

.exercise .incompleted-area {
  opacity: 0%;
}

.exercise .completed-correct-selection {
  border: green 2px solid;
}

.exercise .completed-incorrect-selection {
  border: red 2px solid;
}

.exercise .correct-selection {
  background-color: green;
}

.exercise .incorrect-selection {
  background-color: red;
}

.lesson-section .confetti-div {
  z-index: 5;
}

.lesson-section .confetti, .lesson-section .confetti-div {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.lesson-section .learning-info {
  color: #5E17EB;
}

.lesson-section .button-div .next-button {
  background-color: #FF914D;
  border: none;
  box-shadow: 0 9px #6250e6;
  color: #5E17EB;
}

.lesson-section .button-div .next-button:hover:enabled {
  background-color: #FF6C20
}

.lesson-section .button-div .next-button:active:enabled {
  background-color: #FF6C20;
  box-shadow: 0 4px #5E17EB;
  transform: translateY(5px);
}

.lesson-section {
  padding: 0px;
  margin: 0 50px;
}

.lesson-section .title-div {
  padding: 0;
  margin: 15px 0;
}

.lesson-section .progress-div {
  margin-bottom: 10px;
}

.lesson-section .feedback {
  margin-top: 100px;
}

@media (max-width: 1023px) {
  .exercise .artwork-div, .exercise .question, .exercise .credit {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .exercise .artwork-div, .exercise .question, .exercise .credit {
    width: 300px;
  }
}

