.correct-button {
    height: 150px;
    width: 150px;
    z-index: 100;
    position: absolute;
    left: 35px;
    top: 40px;
    border-radius: 50%;

    opacity: .5;
    background-color: red;
}

.artwork {
    max-width: 100%;
    position: relative;
}

.interactive-container {
    width: 550px;
    position: relative;
    border: solid white 1px;

}
