.converging-lines .correct-button {
  height: 40%;
  width: 27%;
  z-index: 90;
  position: absolute;
  left: 6%;
  top: 11%;
  border-radius: 50%;
  background-color: green;
}

.converging-lines .artwork {
  max-width: 100%;
  position: relative;
}

.converging-lines .artwork-div {
  width: 550px;
  position: relative;
}

@media (max-width: 650px) {
  .converging-lines .artwork-div {
    width: 300px;
  }
}