.empty-box {
  position: absolute;
  text-align: center;
}

.first-box {
  height: 37%;
  width: 40%;
  left: 0%;
  top: 7%;
}

.second-box {
  height: 47%;
  width: 59%;
  right: 2%;
  top: 32%;
}

.artwork {
  max-width: 100%;
  position: relative;
}

.artwork-div {
  width: 550px;
  position: relative;
}

.line-1 {
  width: 220px;
}

.line-2 {
  width: 327px;
}

@media (max-width: 650px) {
  .artwork-div {
    width: 300px;
  }

  .line-1 {
    max-width: 111px;
  }

  .line-2 {
    max-width: 178px;
  }
}