.empty-box {
  width: 90px;
  position: absolute;
  text-align: center;
}

.first-box {
  height: 150px;
  width: 220px;
  left: 0px;
  top: 29px;
}

.second-box {
  height: 166px;
  width: 327px;
  right: 10px;
  top: 122px;
}

.artwork {
  max-width: 100%;
  position: relative;
}

.interactive-container {
  width: 550px;
  position: relative;
}

.image-div {
  width: 550px;
}

.line-1 {
  width: 220px;
}

.line-2 {
  height: 166px;
  width: 327px;
}

.empty-box {
  background-color: green;
  opacity: 50%;
}