.diagonal-lines .empty-box {
  position: absolute;
  text-align: center;
  width: 16%;
}

.diagonal-lines .first-box {
  height: 40%;
  left: 47%;
  top: 17%;
  transform: rotate(25deg);
}

.diagonal-lines .second-box {
  height: 31%;
  left: 60%;
  top: 27%;
  transform: rotate(35deg);
}

.diagonal-lines .third-box {
  height: 19%;
  right: 18%;
  top: 55%;
  transform: rotate(-45deg);
}

.diagonal-lines .line {
  margin: 30px;
  width: 60px;
  max-height: 100%;
}

.diagonal-lines .line-1 {
  height: 280px;
  transform: rotate(25deg);
}

.diagonal-lines .line-2 {
  height: 200px;
  transform: rotate(35deg);
}

.diagonal-lines .line-3 {
  height: 145px;
  transform: rotate(-45deg);
}

@media (max-width: 950px) {
  .diagonal-lines .line-1 {
    height: 200px;
  }

  .diagonal-lines .line-2 {
    height: 155px;
  }

  .diagonal-lines .line-3 {
    height: 95px;
  }

  .diagonal-lines .line {
    width: 50px;
  }
}

@media (max-width: 650px) {

  .diagonal-lines .line-1 {
    height: 151px;
  }

  .diagonal-lines .line-2 {
    height: 117px;
  }

  .diagonal-lines .line-3 {
    height: 82px;
  }

  .diagonal-lines .line {
    width: 34px;
  }
}