.grayscale-value .jigsaw-puzzle {
  border: solid #FF6C20 3px;
  margin: 0 auto;
  width: 350px;
}

.grayscale-value .jigsaw-puzzle__piece.jigsaw-puzzle__piece--solved {
  border: none;
  cursor: default;
}

.grayscale-value .puzzle {
  max-width: 350px;
}