.horizontal-lines .empty-box {
  height: 23%;
  position: absolute;
  top: 67%;
  width: 100%;
}

.horizontal-lines .line{
  max-width: 550px;
}

.horizontal-lines .artwork {
  max-width: 100%;
  position: relative;
}

.horizontal-lines .artwork-div {
  position: relative;
  width: 550px;
}

@media (max-width: 650px) {
  .horizontal-lines .artwork-div {
    width: 300px;
  }

  .horizontal-lines .line {
    max-width: 300px;
  }
}