.empty-box {
  width: 100%;
  position: absolute;
  top: 67%;
  height: 23%;
}

.line{
  max-width: 550px;
}

.artwork {
  max-width: 100%;
  position: relative;
}

.artwork-div {
  width: 550px;
  position: relative;
}

@media (max-width: 650px) {
  .artwork-div {
    width: 300px;
  }

  .line {
    max-width: 300px;
  }
}