.lines-test .artwork {
  max-width: 100%;
  position: relative;
}

.lines-test .artwork-div {
  position: relative;
  width: 550px;
}

.lines-test .content {
  margin: 20px;
}

@media (max-width: 650px) {
  .lines-test .artwork-div {
    width: 300px;
  }
}