.mood-value .selected{
  background-color: orange;
}

.mood-value .button-div .button:enabled {
  border: solid 2px #FE6C20;
}

.mood-value .button-div .button:disabled {
  color: black;
}

@media (max-width: 768px) {
  .mood-value .button-div .button {
    font-size: smaller;
  }
}
