.mood-value .selected{
  background-color: orange;
}

.mood-value .button-div .button{
  border: solid 2px transparent;
}

.mood-value .button-div .button:disabled {
  color: black;
}

.mood-value .button {
  border-radius: 15px;
  background-color: #FE6C20;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.mood-value .button-div .button:hover {
  border: solid 2px #5E17EB;
}

@media (max-width: 768px) {
  .mood-value .button-div .button {
    font-size: smaller;
  }
}
