.vertical-lines .empty-box {
  position: absolute;
  text-align: center;
  width: 16%;
}

.vertical-lines .first-box {
  height: 97%;
  left: 13%;
  top: 0%;
}

.vertical-lines .second-box {
  height: 45%;
  left: 28%;
  top: 43%;
}

.vertical-lines .third-box {
  height: 45%;
  left: 53%;
  top: 43%;
}

.vertical-lines .fourth-box {
  height: 97%;
  left: 71%;
  top: 0%;
}

.vertical-lines .artwork {
  max-width: 100%;
  position: relative;
}

.vertical-lines .artwork-div {
  position: relative;
  width: 550px;
}

.vertical-lines .line {
  height: 100%;
  width: 75px;
}

.vertical-lines .line-1 {
  max-height: 525px;
}

.vertical-lines .line-2 {
  max-height: 250px;
}

@media (max-width: 650px) {
  .vertical-lines .artwork-div {
    width: 300px;
  }

  .vertical-lines .line-1 {
    max-height: 285px;
  }

  .vertical-lines .line-2 {
    max-height: 140px;
  }
}