.vertical-lines .empty-box {
  position: absolute;
  text-align: center;
}

.vertical-lines .first-box {
  height: 97%;
  left: 5%;
  padding-left: 10%;
  top: 0%;
  width: 20%;
}

.vertical-lines .second-box {
  height: 45%;
  left: 24%;
  padding-left: 3%;
  top: 43%;
  width: 20%;
}

.vertical-lines .third-box {
  height: 45%;
  left: 53%;
  padding-right: 4%;
  top: 43%;
  width: 20%;
}

.vertical-lines .fourth-box {
  height: 97%;
  left: 73%;
  padding-right:8%;
  top: 0%;
  width: 20%;
}

.vertical-lines .line {
  height: 100%;
  width: 75px;
}

.vertical-lines .line-1 {
  max-height: 425px;
}

.vertical-lines .line-2 {
  max-height: 195px;
}

@media (max-width: 900px) {
  .vertical-lines .line-1 {
    max-height: 375px;
  }

  .vertical-lines .line-2 {
    max-height: 180px;
  }
}

@media (max-width: 650px) {
  .vertical-lines .line-1 {
    max-height: 285px;
  }

  .vertical-lines .line-2 {
    max-height: 140px;
  }
}