.zigzag-lines .empty-box {
  position: absolute;
}

.zigzag-lines .first-box {
  border-radius: 70% 0 0 90% / 40% 0 0 60%;
  height: 72%;
  left: 15%;
  top: 14%;
  width: 33%;
}

.zigzag-lines .second-box {
  border-radius: 0 70% 90% 0 / 0 40% 60% 0;
  height: 72%;
  left: 53%;
  top: 14%;
  width: 30%;
}

.zigzag-lines .artwork {
  max-width: 100%;
  position: relative;
}

.zigzag-lines .artwork-div {
  position: relative;
  width: 550px;
}

.zigzag-lines .line {
  max-width: 130px;
  width: 100%;
}

@media (max-width: 650px) {
  .zigzag-lines .artwork-div {
    width: 300px;
  }

  .zigzag-lines .line {
    max-width: 71px;
  }
}