.zigzag-lines .empty-box {
  position: absolute;
}

.zigzag-lines .first-box {
  border-radius: 70% 0 0 90% / 40% 0 0 60%;
  height: 72%;
  left: 15%;
  top: 14%;
  width: 33%;
}

.zigzag-lines .second-box {
  border-radius: 0 70% 90% 0 / 0 40% 60% 0;
  height: 72%;
  left: 53%;
  top: 14%;
  width: 30%;
}

.zigzag-lines .line {
  max-width: 110px;
}

@media (max-width: 1023px) {
  .zigzag-lines .line {
    max-width: 90px;
  }
}

@media (max-width: 768px) {
  .zigzag-lines .line {
    max-width: 71px;
  }
}