.empty-box {
  width: 90px;
  position: absolute;
  text-align: center;
}

.first-box {
  height: 500px;
  width: 180px;
  left: 85px;
  top: 95px;
  border-radius: 70% 0 0 90% / 40% 0 0 60%;
}

.second-box {
  height: 500px;
  width: 160px;
  left: 295px;
  top: 105px;
  border-radius: 0 70% 90% 0 / 0 40% 60% 0;
}

.artwork {
  max-width: 100%;
  position: relative;
}

.interactive-container {
  width: 550px;
  position: relative;
}

.image-div {
  width: 550px;
}

.line {
  width: 130px;
}