/* Navbar styles */
.navbar{
  background-color: #8c5ceb; 
  /* position:absolute; */
  color: #fff;
  height: 80px;
  /* padding: 15px 0; */
}

.navbar .container{
  justify-content: space-between ;
}

.navbar .container .img{
  /* background-color: antiquewhite; */
  width: 6rem;
  height: 4rem;
  padding: 0.25rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Brand */
/* .navbar .navbar-brand {
  display: flex;
  align-items: center;
} */

.navbar .navbar-item {
  margin-right: 20px; /* Adjust spacing between items */
  list-style-type: none; /* Remove bullets from list items */
}

.navbar .navbar-item a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem; /* Adjust font size as needed */
  font-weight: bold;
}

.navbar .lang{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Navbar Burger (Hamburger) Icon */
.navbar .navbar-burger {
  display: none; /* Hide the burger icon by default on larger screens */
  flex-direction: column;
  cursor: pointer;
}

.navbar .navbar-burger span {
  width: 25px;
  height: 3px;
  background-color: #fff; /* Color of burger lines */
  margin: 3px 0;
  transition: background-color 0.3s;
}

/* Navbar Menu */
.navbar .navbar-menu {
  display: flex;
  align-items: center;
}

.navbar .navbar-menu.is-active .navbar-burger span {
  background-color: #fff; /* Color of burger lines when menu is active */
}

/* Navbar End Items */
.navbar .navbar-end {
  display: flex;
  align-items: center;
}

.navbar .navbar-end .navbar-item:last-child {
  margin-left: 20px; /* Adjust spacing between the last item and the language button */
}

/* Language Button */
.navbar .button {
  
  border: none;
  /* cursor: pointer; */
  color: #ffffff; /* Text color for language button */
  transition: color 0.3s;
}

.navbar .button:hover {
  color: #ccc; /* Text color on hover */
}

/* User Authentication Button */
.navbar .user-auth-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem; /* Adjust font size as needed */
  color: #fff; /* Text color for authentication button */
  transition: color 0.3s;
}

.navbar .user-auth-btn:hover {
  color: #ccc; /* Text color on hover */
}


